
body {
      font-family: 'Segoe UI', sans-serif;
      background: #fff;
      color: #333;
      margin: 0;
      padding: 0;
      
    }
    .container {
      max-width: 800px;
      margin: 40px auto;
      background: black;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
     
    }
    h1, h2 {
      color: #0a58ca;
    }
    ul {
      padding-left: 20px;
    }
    .section {
      margin-bottom: 2rem;
       border: 0.1rem solid lightblue;
        border-radius:10px;
        padding: 0.5rem;
        margin: 0.5rem;
        
    }
    .contact {
      font-size: 0.9rem;
      
    }
    .div{
        height: 50px;
    }
    .new{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
         border: 0.1rem solid lightseagreen;
        border-radius: 10px;
        background: #000;
    }
    .new img{
        height: 250px;
        width: 200px;
        border-radius: 30px;

    }
    .skill{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border: 0.1rem solid lightseagreen;
        border-radius: 10px;
        background: #000;
        padding-top: 0.5rem;
        margin: 1rem;
        flex-direction: column;
        
    }
    .projects{
        border: 0.1rem solid lightblue;
        border-radius:10px;
        padding: 0.5rem;
        margin: 1rem;
        

    }
    a{
        text-decoration: none;
        color:inherit;
    }

       

        
    
    .section:hover{
        color: white;
         box-shadow: 0 4px 8px 0 rgb(2, 34, 217);
    transition: box-shadow 0.3s;
    }
    .projects:hover{
         color: white;
         box-shadow: 0 4px 8px 0 rgba(2, 34, 217);
    transition: box-shadow 0.3s;

    }
        
    
    
